#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.container {
  width: 380px;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
  height: auto;
}
.title {
  width: 100%;
  height: auto;
  font-size: 20px;
  margin: 0px;
  color: black;
}
.newTaskContainer {
  display: flex;
  gap: 10px;
}
.newTaskContainer input {
  width: 280px;
  height: 40px;
  padding: 8px 16px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
  color: black;
  font-size: 14px;
}
.newTaskButton {
  background-color: #3c82f6;
}
.filterContainer {
  display: flex;
  width: 100%;
  gap: 10px;
}
.tab {
  padding: 4px 12px;
  background-color: whitesmoke;
  color: black;
  font-size: 12px;
}
.taskList div {
  color: black;
  width: 345px;
  height: 62px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: #F9FAFB;
  border-radius: 10px;
}
.taskList p {
  font-size: 14px;
}
.taskList button {
  position: absolute;
  left: 70%;
  font-size: 14px;
  padding:6px 12px ;
  color: #EF4444;
  background-color: #FEF2F2;
}
.checkBox {
  width: 20px;
  height: 20px;
  fill: #0275ff;

  stroke-width: 1px;
  stroke: #fff;

  filter: drop-shadow(0px 0px 0px #015fcc);
}
