#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

.app {
  width: 370px;
}

.container {
  width: 380px;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: auto;
  position: relative;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
}
.container h1{
  text-align: center;
}

.container button {
  border: none;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
}

.title {
  width: 100%;
  height: auto;
  font-size: 20px;
  margin: 0px;
  color: black;
}

.newTaskContainer {
  display: flex;
  gap: 10px;
}

.newTaskContainer input {
  width: 280px;
  height: 30px;
  padding: 8px 16px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
  color: black;
  font-size: 14px;
}

.newTaskContainer button {
  background-color: #3C82F6;
  width: 60px;
  color: white;
}

.filterContainer {
  display: flex;
  width: 100%;
  gap: 10px;
}

.tab {
  padding: 4px 12px;
  background-color: whitesmoke;
  color: black;
  font-size: 12px;
}
.taskList{
  display: flex;
  flex-direction: column;
  gap: 20px
}
.taskList div {
  color: black;
  width: 345px;
  height: 62px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: var(--radius-rounded-md, 6px);
  background: #F9FAFB;
}

.taskList p {
  font-size: 14px;
  width: 70%;
  overflow:hidden;
  margin: 0px;
}

.taskList button {
  position: absolute;
  left: 80%;
  font-size: 14px;
  padding: 6px 12px;
  color: #EF4444;
  background-color: #FEF2F2;
}

.checkBox {
  width: 20px;
  height: 20px;
  fill: #0275ff;
  stroke-width: 1px;
  stroke: #fff;
  filter: drop-shadow(0px 0px 0px #015fcc);
}

.taskStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid var(--border-border-border, #E4E4E7);
}

.taskStats p {
  color: black;
  text-align: start;
  justify-content: center;
  align-items: center;
}

.taskStats button {
  left: 55%;
  font-size: 14px;
  padding: 6px 12px;
  color: #EF4444;
  background-color: #FEF2F2;
}